<h1>List Page</h1>
{% extends 'team/main.html' %} {% block content %}

<div class="header-bar">
  <div>
    <h2>Team members</h2>
    <div style="color: gray">
      You have {{members.count}} team member{{members.count|pluralize:"s"}}.
    </div>
  </div>

  <a class="add-member" href="{% url 'member-create' %}"> &#x2b; </a>
</div>

<div class="member-list-wrapper">
  {% for member in members %}
  <a
    class="member-wrapper"
    href="{% url 'member-update' member.id %}"
    class="task-title"
  >
    <div class="profile-container">&#x263B;</div>
    <div class="contact-info">
      <div>{{member}} {% if member.role == 'Admin' %} (admin) {%endif%}</div>
      <div style="color: gray">{{member.phone}}</div>
      <div style="color: gray">{{member.email}}</div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock content %}
