<h1>Edit Page</h1>
{% extends 'team/main.html' %} {% block content %}
<div class="header-bar">
  <div>
    <h2>Edit team member</h2>
    <div style="color: gray">Edit contact info, location, and role</div>
  </div>

  <a href="{% url 'members' %}">Go back</a>
</div>

<form method="POST" action="">
  {% csrf_token %}
  <div class="member-info-container">
    <h3>Info</h3>
    <input
      class="contact-input"
      placeholder="First name"
      type="text"
      name="first_name"
      value="{{ member.first_name }}"
    />
    <br />
    <input
      class="contact-input"
      placeholder="Last name"
      type="text"
      name="last_name"
      value="{{ member.last_name }}"
    />
    <br />
    <input
      class="contact-input"
      placeholder="Email"
      type="text"
      name="email"
      value="{{ member.email }}"
    />
    <br />
    <input
      class="contact-input"
      placeholder="Phone"
      type="text"
      name="phone"
      value="{{ member.phone }}"
    />
    <br />
    <h3>Role</h3>

    <div class="role-container">
      {% if member.role == 'Regular' %}
      <label class="role-item" for="Regular"
        >Regular - Can't delete members
        <input name="role" id="Regular" type="radio" value="Regular" checked />
      </label>
      {% else %}
      <label class="role-item" for="Regular"
        >Regular - Can't delete members
        <input name="role" id="Regular" type="radio" value="Regular" />
      </label>
      {%endif%} {% if member.role == 'Admin' %}
      <label class="role-item" for="Admin"
        >Admin - Can delete members
        <input name="role" id="Admin" type="radio" value="Admin" checked
      /></label>
      {% else %}
      <label class="role-item" for="Admin"
        >Admin - Can delete members
        <input name="role" id="Admin" type="radio" value="Admin"
      /></label>
      {%endif%}
    </div>
    <div class="edit-page-button-wrapper">
      <a class="button delete-button" href="{% url 'member-delete' member.id %}"
        >Delete</a
      >
      <button class="button save-button" type="submit" name="Create Member">
        Save
      </button>
    </div>
  </div>
</form>

{% endblock content %}
