{% extends 'team/main.html' %} {% block content %}

<form method="POST">
  {% csrf_token %}
  <div class="header-bar">
    <div>
      <h3>Are you sure you want to delete this team member?</h3>
      <div style="color: gray">{{member}}</div>
    </div>
  </div>

  <div class="member-info-container">
    <div class="edit-page-button-wrapper">
      <button
        class="button delete-button"
        href="{% url 'member-delete' member.id %}"
        type="submit"
        value="Delete"
      >
        Delete
      </button>
      <a class="button save-button" href="{% url 'members' %}">Cancel</a>
    </div>
  </div>
</form>

{% endblock content %}
